<h1>List of Tasks</h1>

<ul>
	<% @tasks.each do |task|%>
		<li><%= link_to task.name, task_path(task) %> <%= link_to "Edit", edit_path(task) %> <%= link_to "Delete", delete_path(task), method: :delete %></li>
	<% end %>
</ul>
<%= link_to "Create a new Task", new_path %>
